@font-face{
	font-family:"Lovelace";
	font-display:swap;
	src:url("../fonts/Lovelace-Regular.woff2") format("woff2"),url("../fonts/Lovelace-Regular.woff") format("woff");
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:"BonVivant";
	font-display:swap;
	src:url("../fonts/BonVivant-Regular.woff2") format("woff2"),url("../fonts/BonVivant-Regular.woff") format("woff");
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:"LovelaceText";
	font-display:swap;
	src:url("../fonts/LovelaceText-Regular.woff2") format("woff2"),url("../fonts/LovelaceText-Regular.woff") format("woff");
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	font-display:swap;
	src:url("../fonts/Montserrat-Bold.woff2") format("woff2"),url("../fonts/Montserrat-Bold.woff") format("woff");
	font-weight:700;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	font-display:swap;
	src:url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),url("../fonts/Montserrat-SemiBold.woff") format("woff");
	font-weight:600;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	font-display:swap;
	src:url("../fonts/Montserrat-Medium.woff2") format("woff2"),url("../fonts/Montserrat-Medium.woff") format("woff");
	font-weight:500;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	font-display:swap;
	src:url("../fonts/Montserrat-Regular.woff2") format("woff2"),url("../fonts/Montserrat-Regular.woff") format("woff");
	font-weight:400;
	font-style:normal;
}
@font-face{
	font-family:"Echoes Sans";
	font-display:swap;
	src:url("../fonts/echoessans_medium.woff2") format("woff2"),url("../fonts/echoessans_medium.woff") format("woff");
	font-weight:500;
	font-style:normal;
}